services:
  - type: web
    name: mrdabak-dinner-service
    env: docker
    dockerfilePath: ./server-java/Dockerfile
    dockerContext: ./server-java
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: production
      - key: JWT_SECRET
        generateValue: true
      - key: PORT
        value: 5000
    healthCheckPath: /api/health

